header {
    background: #435585;
    padding: 20px;
    margin: -8px;
    text-align: center;
}

header h1 {
    display: inline;
    color: #F5E8C7;
    outline: 10px black;
    margin-right: 30%;
}

nav {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: inline;
    padding: 10px;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0px 1vw;
}

nav li.logo img {
    vertical-align: middle;
    height: 40px; 
    padding-bottom: 5px; 
}

nav li:last-child {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #F5E8C7;
    text-align: center;
    width: 130px;
    padding: 10px;
}

.buttons:hover {
    background-color: #363062;
    border: 2px solid #F5E8C7;
    border-radius: 15px;
}

nav .search input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

nav .search input::placeholder {
    color: #999;
}

nav li.search {
    margin-left: auto;
}
