/* Basic reset to remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #435585;
    padding: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

nav li {
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #F5E8C7;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    background-color: #363062;
    border: 2px solid #F5E8C7;
}

nav .logo {
    margin-right: auto;
}


nav .search input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

nav .search input::placeholder {
    color: #999;
}

nav li.search {
    margin-left: auto;
}
